RewriteEngine On

DirectoryIndex index.php
Options +Indexes

RewriteRule ^publicar/$ index.php?section=publicar
RewriteRule ^post/(.*)/(.*)/$ index.php?section=post&id=$1&title=$2
RewriteRule ^logout/$ index.php?section=logout