<form method="POST" enctype="multipart/form-data" class="form-publicar">
    <select name="category">
        <option value="Internet">Internet</option>
        <option value="Tecnología">Tecnología</option>
        <option value="Entretenimiento">Entretenimiento</option>
    </select>
    <input type="file" name="image">
    <input type="title" name="title" placeholder="Titulo">
    <div>
        <span class="bbcode">
            <a href=""><b>b</b></a>
            <a href=""><i>i</i></a>
        </span>
        <textarea class="content" name="content" placeholder="Contenido"></textarea>
    </div>
    <button type="button" id="btn-publicar">publicar</button>
</form>