<form method="POST" enctype="multipart/form-data" class="form-publicar">
    <select name="category">
        <option value="Internet">Internet</option>
        <option value="Entretenimiento">Entretenimiento</option>
        <option value="Tecnología">Tecnología</option>
        <option value="Miscelaneos">Miscelaneos</option>
    </select>
    <input type="file" name="image">
    <input type="title" name="title" placeholder="Titulo">
    <div>
        <span class="bbcode">
            <a class="btn" href="javascript:bbcode('b')"><b>b</b></a>
            <a class="btn" href="javascript:bbcode('i')"><i>i</i></a>
            <a class="btn" href="javascript:bbcode('u')"><u>u</u></a>
            <a class="btn" href="javascript:bbcode('h2')">T</a>
            <div class="btn-upload-image">
                <a class="btn" href="javascript:form_upload_image()">img</a>
                {include file="publicar/form_upload_image.html"}
            </div>
        </span>
        <textarea class="content" name="content" placeholder="Contenido"></textarea>
    </div>
    <button type="button" id="btn-publicar">publicar</button>
</form>