<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{block "title"}{/block}</title>
    <link rel="stylesheet" href="{$URLBASE}/static/css/styles.css">
    <link rel="stylesheet" href="{$URLBASE}/static/css/form_login.css">
    {block "css"}{/block}
    <link rel="stylesheet" href="{$URLBASE}/static/css/aside.css">
</head>
<body>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v15.0" nonce="iAQLY8YN"></script>
<div class="content-page">
    <header>
        <h1><a href="{$URLBASE}/" class="title-page">STLAB</a></h1>
        <div class="btn-menu"><img src="{$URLBASE}/static/images/icon-menu.png"></div>
        <div class="menu">
            <a href="{$URLBASE}/">inicio</a>
            {if $USER == "NONE"}
                {include file="form_login.html"}
            {else}
            <a href="{$URLBASE}/publicar/">{$USER}</a>
            <a href="{$URLBASE}/logout/">logout</a>
            {/if}
        </div>
    </header>
    
    <section class="up">
        <section class="left">
            {block "left"}{/block}
        </section>
        <section class="right">
            {include file="aside.html"}
        </section>
    </section>
    <section class="down">{block "down"}{/block}</section>

    <footer>http://www.stlab.cl</footer>
</div>
<script src="{$URLBASE}/static/js/scripts.js"></script>
<script src="{$URLBASE}/static/js/views_count.js"></script>
{block "js"}{/block}
</body>
</html>